<?xml version="1.0"?>
<launch>
    <arg name="mav_name" default="firefly"/>
    <arg name="frame_id" default="odom" />

    <group ns="$(arg mav_name)">
        <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr" clear_params="true">
            <rosparam file="$(find simulator)/cfg/voxblox_params.yaml" command="load"/>

            <remap from="pointcloud"                to="vi_sensor/camera_depth/depth/points"/>
            <remap from="voxblox_node/esdf_map_out" to="esdf_map" />
            <remap from="voxblox_node/tsdf_map_out" to="tsdf_map" />
            <remap from="voxblox_node/esdf_slice"   to="esdf_slice" />
			<remap from="voxblox_node/esdf_slice"   to="esdf_slice" />
        </node>
    </group>
    
</launch>
