<?xml version="1.0"?>
<launch>
  <arg name="mav_name" default="firefly"/>
  <arg name="frame_id" default="odom" />

  <group ns="$(arg mav_name)">
    <node name="voxblox_global_planner" pkg="voxblox_global_planner" type="skeleton_global_planner_node" output="screen" clear_params="true" respawn="true">
      <param name="visualize" value="true" />
      <param name="robot_radius" value="0.4" />
      <param name="frame_id" value="$(arg frame_id)" />
      <param name="world_frame" value="$(arg frame_id)" />
      <param name="split_at_collisions" value="true" />
      <param name="optimize_time" value="true" />
      <param name="verbose" value="false" />

      <param name="generate_by_layer_neighbors" value="true" />
      <!-- If using full euclidean: 0.78 (45 degrees) -->
      <!-- If using quasi-Euclidean: 1.57 (90 degrees) -->
      <param name="min_separation_angle" value="0.78" />
      <param name="update_esdf" value="false" />
     
      <remap from="voxblox_global_planner/esdf_map_in" to="esdf_map" />
      <remap from="voxblox_global_planner/tsdf_map_in" to="tsdf_map" />
      <remap from="odometry" to="ground_truth/odometry" />
    </node>
  </group>

  <include file="$(find voxblox_global_planner)/launch/local_planner.launch">
    <arg name="mav_name" value="$(arg mav_name)"/>
  </include>

</launch>
