<?xml version="1.0"?>
<launch>
  <arg name="mav_name"      default="firefly"/>

  <group ns="$(arg mav_name)">
    <node name="voxblox_global_planner" pkg="voxblox_global_planner" type="skeleton_global_planner_node" output="screen" clear_params="true" respawn="true">
      <remap from="voxblox_global_planner/esdf_map_in" to="esdf_map" />
      <remap from="voxblox_global_planner/tsdf_map_in" to="tsdf_map" />
      <rosparam file="$(find voxblox_global_planner)/cfg/params.yaml" command="load"/>
    </node>
  </group>

  <include file="$(find frontier_explorer)/launch/default.launch">
    <arg name="mav_name"      value="$(arg mav_name)"/>
  </include>

  <include file="$(find voxblox_local_planner)/launch/default.launch">
    <arg name="mav_name"      value="$(arg mav_name)"/>
  </include>

</launch>
